<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <h1 class="text-centered">Albums</h1>
  <div class="album-container">
    <% if (image) { %>
      <div class="album-details">
        <img src="<%= image %>" alt="<%= albumName %> Image" class="card-img-top">
      </div>

      <!-- Tracklist: -->
      <div class="tracklist">
        <table class="table table-dark">
          <thead>
            <th scope="col" class="text-centered"><h1><%=albumName%></h1></th>
            <th scope="col" class="text-centered"><h2><%=artist%></h2></th>
          </thead>
          <tbody>
            <%tracks.items.forEach((track, index) => { %>
              <tr>
                <th scope="row"><%=index%></th>
                <td><%=track.name%></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <!-- Other album information -->

    <% } else { %>
      <p>No album available</p>
    <% } %>
  </div>

  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
    <button type="button" class="btn btn-secondary">5</button>
  </div>
  </br>
</main>



<%- include ('../partials/footer') %>
