<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>

  <div class="album-container">
    <%- include ('../partials/message') %>
    <% if (image) { %>
      <div class="album-details">
        <img src="<%= image %>" alt="<%= albumName %> Image" class="card-img-top">
          <div class="btn-group" role="group">
            <form action="/release/rate" method="post">
              <input type="hidden" name="albumID" value="<%= id %>">
              <input type="hidden" name="albumBody" value="<%= JSON.stringify(albumBody) %>">
              <button class="btn"  id="homeButton1" name="rating" type="submit" value="1">1</button>
              <button class="btn"  id="homeButton2" name="rating" type="submit" value="2">2</button>
              <button class="btn"  id="homeButton3" name="rating" type="submit" value="3">3</button>
              <button class="btn"  id="homeButton4" name="rating" type="submit" value="4">4</button>
              <button class="btn"  id="homeButton5" name="rating" type="submit" value="5">5</button>
            </form>
          </div>
      </div>

      <!-- Tracklist: -->
      <div class="tracklist">
        <table class="table table-dark">
          <thead>
            <th scope="col" class="text-centered"><h1><%=albumName%></h1></th>
            <th scope="col" class="text-secondary"><h2><%=artist%></h2></th>
          </thead>
          <tbody>
            <%tracks.items.forEach((track, index) => { %>
              <tr>
                <th scope="row"><%=index+1%></th>
                <td><%=track.name%></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <!-- Other album information -->

    <% } else { %>
      <p>No album available</p>
    <% } %>
  </div>

</main>


<br>
<%- include ('../partials/footer') %>
