<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>

  <div class="album-container">
    <% if (image) { %>
      <div class="album-details">
        <img src="<%= image %>" alt="<%= albumName %> Image" class="card-img-top">
              <h1 id = "album-name"><%=albumName%></h1>
              <h2 id ="artist-name"><%=artist%></h2>
            <br>
            <div class="btn-group" id="release-rate-buttons" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
                <button type="button" class="btn btn-secondary">4</button>
                <button type="button" class="btn btn-secondary">5</button>
            </div>
            </br>
      </div>

        

      <!-- Tracklist: -->
      <div class="tracklist">
        <table class="table">
          <!-- <thead>
            <th scope="col" ><h1 id = "album_name"><%=albumName%></h1></th>
            <th scope="col" class ="body-column"><h2 id ="artist_name"><%=artist%></h2></th>
          </thead> -->
          <tbody>
            <%tracks.items.forEach((track, index) => { %>
              <tr>
                <th scope="row" id = "num"><%=index+1%>.</th>
                <td id="song-name"><%=track.name%></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <!-- Other album information -->

    <% } else { %>
      <p>No album available</p>
    <% } %>
  </div>

  <!-- <br>
  <div class="btn-group" id="release-rate-buttons" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
    <button type="button" class="btn btn-secondary">5</button>
  </div>
  </br> -->
</main>



<%- include ('../partials/footer') %>
