<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
     <h1 class="review-header"> Review for: <%= album_title%></h1>
   <% if (errorMessage){ %>
    <div class="error-message"><p><%=errorMessage %></p></div>
  <% } %>
     <div class="revInput">
       <form action="/review" method="POST">
        <textarea id="reviewInput" name="review" placeholder="Write your review (limit: 200 words):" cols="30" rows="10" maxlength="200"></textarea>
        <br>
        <input type="hidden" name="album_id" value="<%=album_id%>">
        <input type="hidden" name="album_title" value="<%=album_title%>">
        <button type="btn" class="review-button">Submit Review</button>
       </form>

    </div>
</main>
<%- include ('../partials/footer') %>